__pycache__/
*.pyc
.env
*.env
.DS_Store

# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.smart-env/
.obsidian/plugins/copilot/data.json
.obsidian/plugins/smart-connections/data.json
